# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Coverage
*.out
coverage.out

# Go workspace
go.work
go.work.sum

# Editor
.vscode/

# Build output
build/

# Environment variables
.env
.env.*

# Logs
*.log